button{
  background-color: var(--main);
  width: 85px;
  height: 30px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  color: var(--clear);
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  border: 1px solid var(--main);
  background-color: var(--clear);
  color: var(--main);
}
