body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.book-icon{
  color: red;
  height: 6.0em;
  margin-left: 40px;
}

.user-icon{
  width: 2.5em;
}

.user-text{
  font-family: Cascadia Code;
  margin: auto;
}

.user-div{
  display: flex;
  padding: 6px;
}

.user-border{
  margin-top: 450px;
  margin-left: 10px;
  margin-right: 5px;
  border: 1px solid;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.user-border:hover{
  background-color: cornsilk;
}

/* Sidebar */
.sidebar {
  margin-top: 89px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  height: 930px;
  border: 1px solid;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}